@import 'bootstrap';

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.chart {
    path {
       stroke: #1b70e0;
       stroke-width: 2;
       fill: none;
    }
}
