{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <h1>About</h1>
    <div class="col-sm-12">
        <p>Bootstrap for building wind tunnel web steering console, using <strong>Internet of Things</strong> approach.</p>
    </div>
</div>
{% endblock %}
