{% extends 'FrontendBundle::base.html.twig' %}

{% block content %}
	<div class="span6 halfMargin withCamera">
		<img class="camera" src="http://kamera.wfis.uni.lodz.pl/videostream.cgi?user=tunel&pwd=" class="span6" />
	</div>
<div class="row-fluid">
<div class="span12"><h2>EXP03 is not accessible, ITA-TEAM is working on this</h2></div>
</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">
		$(function(){
			$('#leftMenu_third').addClass('active');
			$('#leftMenu_third').find('.icon-home').addClass('icon-white');
			$('#slider').slider({
				min:0,
				max:1000,
				steep:1,
				change: function( event, ui ) {
				fansSpeed(ui.value);
	    }
			});
			$('#slider').bind('slidechange',function(event,ui){
				$('#windProgressBar').animate({
					
				});
			});
		});
	</script>
	<script type="text/javascript" src="/bundles/frontend/js/flot/jquery.flot.min.js"></script>
	{% javascripts 
		'@FrontendBundle/Resources/public/js/index.js'		
		'@FrontendBundle/Resources/public/js/jquery.sparkline.min.js'		
		%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}
