body{padding-top:60px;}
.withCamera{margin-left:5px;}
img.camera{width:460px;}
.hidden{display:none;}
.halfMargin{margin-left:5px;}
footer{font-size:10px;text-align:center;color:#555;margin-top:20px;}
.right-options{
    /*margin-left: 15px;*/
    position:fixed;
    top:40px;
    right:0%;
    z-index:10;
    background:white;
    padding:10px;
    border:1px solid black;
    border-top:none;
    border-radius: 0 0 5px 5px;
    transition: top 2s;
}

.hidden-panel {
    top:-230px;
}

.right-options [class*="span"]{margin-left:0;}
.buttons{margin-bottom:20px;}
#slider{margin-top:10px;margin-bottom:10px;}
.plots{margin-top:10px;}
.plot1{height:200px;}
#flash{}
.editArticle{float:right;}
ol{list-style: circle;}

ol.about{font-weight: bold; list-style: decimal;}
ol.about dd{font-weight: normal;}
ol.about dl{text-align: justify;}

h3.thanks{margin-top: 10px;text-align: center;}

#sponsors{position: relative; overflow: hidden; height:60px; padding-top:10px;line-height: 60px;}
#sponsors a{text-align: center;margin-top:20px;}
#sponsors a img{height:50px;position:absolute;  display:none; }
#leftMenu{}

.right-align{text-align: right !important;}
.fans input{width:30px;}

.widgetTable{margin-bottom:15px;}
.widgetTable td{border-left:none;}
.widgetTable td:first-child{border-left: 1px solid #DDD;}
.widgetTable th{border-bottom: 1px solid #DDD;}
.widgetTable tfoot td{border-top: 1px solid #DDD;}

.red{color:red;}